$ port: echo '9001 443 80 1234 4444 32000' | tr ' ' '\n'
$ adapters: ip a | grep -P '^\d*:' | grep -v 'veth\|br-\|lo\|docker' | cut -d ' ' -f 2 | tr -d ':' | cut -d '@' -f 1
$ IP: (ip a | grep -P '^\d*:' | grep -v 'veth\|br-\|lo\|docker' | cut -d ':' -f 2 | cut -d '@' -f 1; ip a | grep -P '^\d*:' | grep -v 'veth\|vnet\|br-\|lo\|docker' | cut -d ':' -f 2 | cut -d '@' -f 1 | while read line; do ip a s $line | grep -oE '\b((25[0-5]|2[0-4][0-9]|1?[0-9]{1,2})\.){3}(25[0-5]|2[0-4][0-9]|1?[0-9]{1,2})\b' ; done)
